DATABASE_URL=postgresql+psycopg://postgres:chundeptraikhoaito@db.soqzdpkdaxinuqmktqzx.supabase.co:5432/postgres
CORS_ALLOWED_ORIGINS=http://localhost:3000

CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
ANALYST_CLERK_USER_ID=user_replace_with_clerk_analyst_id
MANAGER_CLERK_USER_ID=user_replace_with_clerk_manager_id
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGFwcHktc2hlcGhlcmQtMTEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_GurWSnIjVJ5pxeHSjQzm4Y6FQNCoYvDeMN3mj1svou
